scripting/include/*.inc
scripting/*.*
scripting/testsuite/
.vscode/

!competitive/*.inc
!competitive.sma
!competitive.txt
!competitive.cfg
!cash-sprites.zip

amxxpc*

*.txt
*.cfg
*.amxx
*.so
*.dll
*.mmdb
*.ini
*.log
*.swp
*.swo
*.zip
*.amxx	
*.txt	
*.tpl	
*.sma	
*.sh

