scripting/include/*.inc
scripting/*.*
scripting/testsuite/
!competitive/*.inc
!competitive.sma
!competitive.txt
!competitive.cfg
!cash-sprites.zip

*.txt
*.cfg
*.amxx
*.so
*.dll
*.mmdb
*.ini
*.log
amxxpc*
.vscode
